body {
    background-color: rgb(245, 245, 245);  
    font-family: Helvetica, Didot;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    
}

.header {
   
    background-color:#1f2937;
    padding-top: 12px;
    justify-content: space-evenly;
    display: flex;
    height: 380px;
    flex-shrink: 0;
    
    
}
.logo{
    font-size: 24px;
    font-weight:600;
    color: #F9FAF8;
    margin-bottom: 80px;
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #E5E7Eb;

}

ul {
    list-style-type: none;
}


.left-header {
    display: flex;
    flex-direction: column; 
    
}

.right-header{
    display: flex;
    flex-direction: column;
  
}


.right-links{
    display: flex;
    font-size: 18px;
    color: #E5E7Eb;
    gap: 16px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-bottom: 80px;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    width: 440px;
}


.box{
   text-align: center;
   background-color: gray;
   padding: 100px 50px;
   
}

.secondary-text{
    color: #E5E7Eb;
    font-size: 18px;
    width: 440px;
    
}

button {
    margin-top: 10px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
    text-decoration: none;
    padding: 8px 30px;
    border: none;
    margin: 8px, 4px;
    font-weight: bold;
}

.information {
    text-align: center;
    margin-bottom: 15px;
}

.info {
    
    margin-top: 28px;
    margin-bottom: 28px;
    font: 36px;
    font-size: 36px;
    font-weight: bolder;
}

.container{
    justify-content: center;
    gap:75px;
    display: flex;
    flex-direction: flex;
    
}


.borders{
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    background-color: transparent;
    border-radius: 8px;
    
}

.text-under{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-self: center;
}

.line-up{
    width: 150px;
}


.quo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7Eb;
    margin-top: 50px;
    
}

.quote{
    margin-top: 65px;
    font-size: 36px;
    color: #1F2937;
    width: 825px;
    font-style: italic;

    
}

.thor {
    margin-left: 350px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
}

.call {
    display: flex;
    justify-content: center;
}

.container2{
    margin-top: 60px;
    margin-bottom: 60px ;
    justify-content: center;
    align-items: center;
    gap:75px;
    display: flex;
    flex-direction: flex;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 1100px;
    height: 150px;
}

.time {
    font-weight: bolder;
    font-size: 20px;
}

.button2{
    border: 2px solid white;
    background-color: transparent;
    border-radius: 12px;
    text-align: center;
    margin: 8px, 8px;
    padding-bottom: 10px;
    
}

.footer{
    background-color: #1F2937;
    color:rgb(245, 245, 245);
    text-align: center;
    padding: 40px;

}